<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

<!--            <Pattern>-->
<!--                %d %-5p [%X{sessionId}] [%X{userId}] %C{1}.%M:%L] %m%n-->
<!--            </Pattern>-->

            <Pattern>%date [%thread] [%-5p] %logger{40} - %message %n</Pattern>


        </encoder>
    </appender>

    <logger name="com.criptex" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>